/* Blog Post */
.blog-post {
    padding: 2rem;
    min-height: 100vh;
}

.blog-post h1 {
    text-align: center;
    margin-bottom: 1rem;
}

.author-info {
    display: flex;
    align-items: center;
    gap: 1rem;
    margin-bottom: 1rem;
    background-color: #A7E6FF;
}

.author-info img {
    border-radius: 50%;
    width: 100px;
    height: 100px;
}

.author-details h2 {
    margin: 0;
}

.author-info img{
    margin-left: 20px;
}

.social-share a {
    margin: 1rem;
    color: #1da1f2; /* Twitter color */
}

.social-share a:hover {
    color: #0a85d1;
}


@media screen and (max-width: 600px) {
    .author-info {
        display: block;
    }

    .author-info {
        display: flex;
        align-items: center;
    }
}